/* universal selector*/
*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* main{
    height: 630px;
} */
#logo{
    aspect-ratio: 1/1;
    width: 3rem;
}
::-webkit-scrollbar{
    display: none;
}
/*main*/
h3 span {
    font-family: 'Oswald', sans-serif;
    display: block;
    margin: 5%;
    padding:1%
}
footer{
  
    text-align: center;
    background-color:rgb(198, 194, 194)
    
}
body{

  background-color:lightgray
}
#para1{
    margin:10%
}
.about-content{
    height: 600px;
}
.nav-item:hover{
    background-color: rgba(106, 106, 141, 0.518);
   
    
    
}
#imgg2{
   width: 720px;
}
/* input[type=text] {
  margin-left: 79%;
  
} */
.card{
    width: 18rem;
    margin: 2%;
    text-align: center;
   
}
#data-search{
    margin-left: 40%;
    }

.msg{
   margin: 1%;
}
#foot{
    height: 630px;
}
#pro{
    height: 630px;
}
.about-content{
    height: 630px;
}
#check{
    height: 630px;

}
#Contacts{
    height: 600px;
}
#btnnn{
background-color: RED;
}
#sort{
    margin-left: -2%;
}
#addProducts{
    margin-left: 93%;
}
.table{
    background-color: white;
}
@media screen and (width<=720px ) {
    
}