/* universal selector*/
*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#logo{
    aspect-ratio: 1/1;
    width: 3rem;
}
::-webkit-scrollbar{
    display: none;
}
/*main*/
h3 span {
    font-family: 'Oswald', sans-serif;
    display: block;
    margin: 5%;
    padding:1%
}
footer{
    text-align: center;
    background-color:rgb(198, 194, 194)
    
}
body{

  background-color:lightgray
}
#para1{
    margin:10%
}
.about-content{
    height: 600px;
}
.nav-item{
    font-size: xx-large;
}
#imgg2{
   width: 725px;
}
input[type=text] {
    margin-left:75%;
    margin-bottom: 4%;
}
.card{
    display:flex;
    padding: 1%;

}
